<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<header>
<div class="menu">
    <div>
        <a href="" class="icone">icone</a>
    </div>
    <div>
        <a href="" class="slogan">slogan</a>
    </div>
    
    <div class="links">
        <a href="">Plataforma</a> |
        <a href="">Objetivo</a> |
        <a href="">Sobre-nós</a> |
        <a href="">Acesso</a>
    </div>
        
</div>
</header>

<body>
    <div class="banner"style="text-align:center; padding:30px; font-size:20px">
        Banner
        <div class="info">
            <a href="">Cadastre-se</a>
            <a href="">Saiba Mais</a>
        </div>
    </div>
    <div class="plataforma">
        <h1 style="font-size:30px;padding:20px 20px">Nossa Plataforma:</h1>
        <p style="font-size:20px;padding:20px 20px">
            Informações sobre a plataforma e tecnologia utilizada.
        </p>
        <div class="img_grafico">
            Imagem ilustrativa da plataforma com graficos e valores.
        </div>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <div class="plataforma">
        <h1 style="font-size:30px;padding:20px 20px">Nosso Objetivo:</h1>
        <p style="font-size:20px;padding:20px 20px">
           Publico alvo e descrição da solução
        </p>
        <div class="img_grafico">
            Imagem relativa com graficos.
        </div>
        
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <div class="time">
        <h1 style="font-size:30px;text-align:center">Nosso Time:</h1>
        <div class="fotos">
        <div class="foto">insira foto</div>
        <div class="foto">insira foto</div>
        <div class="foto">insira foto</div>
        <div class="foto">insira foto</div>
        <div class="foto">insira foto</div>
        </div>
        
    </div>
        
        
    </div>

</body>
<footer>
    <div class="contato">
        <a href="">Links</a>
        <a href="">Contato</a>
    </div>
    
</footer>
</html>