
* {
    margin: 0;    
    padding: 0;
}



hr{
    height: 2px;
    border-width: 0;
    color: gray;
    background-color:gray;
}




footer{
    background:rgb(32, 145, 66);
    height: 400px;
    padding: 40px;
    
}

