
* {
    margin: 0;    
    padding: 0;
}



hr{
    height: 2px;
    border-width: 0;
    color: gray;
    background-color:gray;
}





#img_carrosel{
    height: 528px;
}

nav{
    height: 100px;
    padding: 80px;

}

